html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    transition: 1s;
}

select {
    padding: 8px 0 8px 0;
}

@media screen and (min-height: 1400px) and (max-width: 1300px) {
    body {
        background-image: url(images/wallpaper-mobile2.jpg);
    }
}

@media screen and (min-height: 1300px) and (max-width: 1280px) {
    body {
        background-image: url(images/wallpaper-mobile2.jpg);
    }
}

#sort_div,
#sort_div_2 {
    width: 90%;
    margin-left: 5%;
    float: left;
    display: flex;
    justify-content: baseline;
    height: fit-content;
}

.sort_btn {
    height: 20px;
    width: 60px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin-right: 5px;
    padding: 5px 0 0 0;
}

#newest {
    background-color: red;
    color: white;
}

#oldest,
#oldest_2,
#newest_2 {
    background-color: white;
    color: black;
}

.tb_row_span {
    max-width: 50px;
}

.td_div {
    height: 50px;
    max-height: 50px;
}

#head_box {
    background-color: #191c23bf;
    text-align: left;
    top: 0%;
    width: 100%;
    z-index: 10000;
    position: fixed;
    height: max-content;
    float: left;
    padding: 0%;
    border-bottom: 2px solid #416565;
    margin: 0;
}

#head_text_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: -moz-fit-content;
    width: fit-content;
    line-height: 40px;
    font-size: 20px;
    padding: 15px 15px 15px 2%;
    float: left;
    margin: 0px 0 0 20px;
    clear: right;
}

#filter_img {
    float: right;
    color: white;
    font-size: 12px;
    text-decoration: none;
    margin-top: 23px;
    margin-right: 40px;
    height: 30px;
    width: 30px;
}

#about_link {
    float: right;
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin-top: 27px;
    margin-right: 40px;
    height: 30px;
    width: 30px;
}

.content {
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 100%;
    letter-spacing: 2px;
    max-width: 1450px;
}

#link_box {
    width: 60%;
    margin-left: 20%;
    margin-top: 250px;
}

.sub_main_links {
    background-color: #ff0028;
    float: left;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 3px;
    margin-bottom: 5%;
}

#top_2 {
    width: 42.5%;
    margin-left: 5%;
    max-width: 440px;
}

#bottom_1 {
    width: 42.5%;
    margin-left: 28.75%;
    max-width: 440px;
}

@media screen and (max-width:1100px) {
    #link_box {
        width: 70%;
        margin-left: 15%;
        margin-top: 250px;
    }
}

@media screen and (max-width:450px) {
    #top_2,
    #bottom_1 {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 850px) {
    .sub_main_links {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 30px;
    }
    #link_box {
        width: 100%;
        margin-left: 0;
    }
}

.text_main_links {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.text_main_links:hover {
    color: black;
    transition: 0.3s;
}

#myTable {
    height: auto;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
    width: 1652px;
}

#myTable td,
#table_link {
    text-decoration: none;
}

#myTable th {
    font-size: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
    background-color: #ffffff;
}

.ap_box {
    float: left;
    width: 94%;
    margin: 150px 0 100px 3%;
    padding: 0%;
    border-radius: 8px;
    background-color: #0b3a42c7;
}

#void_div {
    float: left;
    width: 100%;
    height: 50px;
}

#more_box {
    height: 400px;
    width: 300px;
    position: fixed;
    top: 100px;
    display: flex;
    right: 5%;
    justify-content: center;
    color: white;
    border-radius: 8px;
    z-index: 100000;
    background-color: #191c23bf;
}

#img_box {
    height: 10px;
    width: 100%;
    float: left;
}

#ex {
    height: 20px;
    cursor: pointer;
    width: 20px;
    margin-left: 265px;
    margin-top: 15px
}

#more_box_content {
    height: 300px;
    width: 100%;
    float: left;
}

@media screen and (max-width:400px) {
    #more_box {
        width: 200px;
    }
    #ex {
        margin-left: 165px;
    }
}

.ap_box_text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 40px 60px 60px 60px;
    letter-spacing: 2px;
    line-height: 25px;
}

.ap_box_header {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-left: 60px;
}

.about_links {
    text-decoration: underline;
    color: white;
}

.about_links:hover {
    color: cyan;
}

#input_mainbox {
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
}

#id_plat,
#id_tcount {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
}

#table_div {
    overflow-x: auto;
    float: left;
    padding-top: 0;
    width: 90%;
    margin-left: 5%;
}

#spec_td {
    cursor: pointer;
}

table {
    padding: 0;
}

td {
    padding: 0;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid #0b3a4240;
}

.note_text,
.more_info_text {
    color: blue;
    cursor: pointer;
}

#filterside {
    right: 0;
    height: 100%;
    width: 0px;
    background-color: #191c23bf;
    z-index: 3;
    transition: 0.3s;
    position: fixed;
    padding-top: 20px;
}

#filterside input,
#filterside select {
    height: 30px;
    width: 85%;
    margin-top: 3px;
    letter-spacing: 2px;
    margin-left: 10%;
    border-radius: 0px;
    background-color: #ffffff;
    color: black;
    padding: 1px 0 1px 8px;
}

#filterside input::placeholder,
textarea::placeholder {
    color: black;
    opacity: 1;
}

#filterside input :-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: black;
}

#filterside input ::-ms-input-placeholder,
textarea ::-ms-input-placeholder {
    color: black;
}

.filtered {
    display: none;
}

#note_text {
    font-size: 14px;
    color: white;
    float: left;
    margin-left: 5%;
    width: 90%;
    margin-top: 5px;
}

#submit_box {
    max-width: 300px;
    width: 90%;
    border-radius: 4px;
    height: auto;
    margin: 150px auto;
    background-color: #233a3ae8;
    color: #ffffff;
}

#submit_text_box {
    margin: 20px 5% 20px 5%;
    float: left;
    width: 90%;
}

#submit_head {
    font-size: 20px;
    float: left;
    width: 100%;
}

#submit_note {
    font-size: 16px;
    float: left;
    width: 100%;
}

form {
    margin: 20px 5% 20px 5%;
}

.form_items {
    width: 100%;
    height: auto;
    float: left;
    color: white;
}

.sub_form_items {
    width: 50%;
    min-width: 200px;
    max-width: 600px;
    float: left;
    color: white;
    height: auto;
}

.form_items li {
    overflow: hidden;
    margin-bottom: 3px;
    width: -moz-fit-content;
    width: fit-content;
}

.form_items ul label {
    display: block;
    margin-left: 3px;
    padding-left: 15px;
    text-indent: -15px;
}

.form_items ul input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 5px 0 0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
    *overflow: hidden;
}

label {
    font-size: 14px;
}

select,
option {
    margin: 0px;
    padding: 0px;
}

textarea {
    height: 125px;
    resize: none;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    padding: 0;
}

.submit_input:hover {
    background-color: rgb(202, 209, 207);
}

#submit_button {
    margin: 50px 200px 30px 0px;
    border-radius: 4px;
    background-color: #2f8686;
    padding: 10px 45px 10px 45px;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s;
}

#submit_button:hover {
    color: black;
    transition: 0.2s;
}

#error {
    width: 90%;
    height: 40px;
    z-index: 10001;
    color: #D8000C;
    background-color: #FFD2D2;
    position: fixed;
    top: 75px;
}

@media screen and (max-width: 960px) {
    body {
        background-image: url(images/wallpaper-mobile2.jpg);
    }
}

@media screen and (max-width: 700px) {
    .main_links {
        width: 60%;
        margin-left: 20%;
        float: top;
    }
    .sub_main_links {
        font-size: "16px";
    }
    #myTable th {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 10px;
    }
    #myTable td {
        font-size: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    #note_text {
        font-size: 14px;
    }
}

@media screen and (max-width: 690px) {
    body {
        background-image: url(images/wallpaper-mobile2.jpg);
    }
}

@media screen and (max-width: 530px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .sub_main_links {
        font-size: "14px";
    }
    #note_text {
        font-size: "14px";
    }
    #myTable {
        font-size: "12px";
    }
    #head_text_link {
        font-size: 16px;
    }
    #filter_img {
        width: 25px;
        height: 25px;
    }
}

#input_mainbox div {
    width: 100%;
    float: left;
    height: auto;
}

#id_id,
#id_author,
#id_title {
    float: left;
    height: 30px;
    width: 90%;
    margin: 0 0 10px 5%;
    padding: 3px 0px 3px 8px;
    border-radius: 5px;
}

#id_game,
#id_plat,
#id_tcount {
    float: left;
    height: 30px;
    width: 90%;
    margin: 0 0 10px 5%;
    padding: 3px 0px 3px 8px;
    border-radius: 5px;
}

@media screen and (max-width: 400px) {
    #submit_head {
        font-size: 18px;
    }
    #submit_note {
        font-size: 14px;
    }
}

@media screen and (max-width: 280px) {
    #head_text_link {
        font-size: 14px;
    }
    #menu_img {
        height: 15px;
        width: 15px;
        top: 16px;
        right: 10px;
    }
    #filter_img {
        height: 15px;
        width: 15px;
        top: 18px;
        right: 35px;
    }
}

@media screen and (max-width: 260px) {
    .sub_main_links {
        font-size: "10px";
    }
}

.table_mode {
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.decider {
    margin: 150px 0 20px 5%;
    width: 90%;
    height: auto;
    float: left;
    display: flex;
    justify-content: flex-start;
}

.decider div {
    cursor: pointer;
    text-align: center;
    color: white;
    height: 30px;
    background-color: red;
    border-radius: 20px;
    width: 100px;
    margin: 0;
    padding: 0;
}

.decider div p {
    margin: 7px 0 0 0;
    padding: 0;
    font-size: 12px;
}

.box_mode {
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 100%;
    display: none;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.con_container {
    background-color: #0b3a42c7;
    width: 300px;
    height: 350px;
    overflow-y: auto;
    color: white;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    border: 1px solid white;
    margin: 0 0 20px 0;
}

.bar {
    width: 95%;
    margin: 0 0 0 2.5%;
    height: auto;
}

.bar div {
    text-align: center;
    float: left;
    height: auto;
    font-size: 13px;
    margin-bottom: 15px;
}

#level_1_1 {
    width: 16%;
}

#level_1_2 {
    width: 64%;
}

#level_1_3 {
    width: 20%;
}

#level_2 {
    width: 100%;
}

#level_3 {
    width: 50%;
}

#level_4_1 {
    width: 30%;
}

#level_4_2 {
    width: 70%;
}

#level_5,
#level_6 {
    width: 100%;
    text-align: left;
    line-height: 17px;
}